{% extends 'base.html' %}
{% block content %}
    <div lang="ru">
        <h1>Наши медиа-ресурсы</h1>
        <p>Подписывайтесь на наши официальные каналы:</p>
        <a href="https://tiktok.com" target="_blank" class="social-link">🎵 Наш TikTok (@sce.fgp)</a>
        <a href="https://youtube.com" target="_blank" class="social-link">📺 Наш YouTube (@CCY.SCE0)</a>
    </div>
    <div lang="en">
        <h1>Our Media Resources</h1>
        <p>Subscribe to our official channels:</p>
        <a href="https://tiktok.com" target="_blank" class="social-link">🎵 Our TikTok (@sce.fgp)</a>
        <a href="https://youtube.com" target="_blank" class="social-link">📺 Our YouTube (@CCY.SCE0)</a>
    </div>
{% endblock %}
