{% extends 'base.html' %}
{% block content %}
    <!-- Русский контент -->
    <div class="lang-ru">
        <h1>Ознакомление</h1>
        <p>Мы — организация <strong>ССУ</strong>. Наша цель заключается в поиске уникальных, эстетичных и красивых мест с последующим их сохранением и благоустройством.</p>
        <p>Мы также активно боремся с визуальным мусором: любые неподобающие символы, вандализм и некачественные граффити мы стараемся оперативно исправить и облагородить.</p>
    </div>

    <!-- Английский контент -->
    <div class="lang-en">
        <h1>Introduction</h1>
        <p>We are the <strong>SSU</strong> organization. Our goal is to find unique, aesthetic, and beautiful places for their subsequent preservation and improvement.</p>
        <p>We also actively fight against visual pollution: any inappropriate symbols, vandalism, and low-quality graffiti we try to promptly fix and refine.</p>
    </div>
{% endblock %}
